BasedOnStyle: GNU
IndentWidth: 8
TabWidth: 8
UseTab: Always
BreakBeforeBraces: Linux
ColumnLimit: 80
AllowShortIfStatementsOnASingleLine: false
AlignTrailingComments: false
SpaceBeforeParens: ControlStatements
KeepEmptyLinesAtTheStartOfBlocks: false
